body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #000000;
    background-image: url(https://hdwallsource.com/img/2019/7/hollow-knight-silksong-video-game-wallpaper-69243-71597-hd-wallpapers.jpg);
    background-size: cover;
    overflow:hidden;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
}
a{
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}
a:hover{
    color: #ff0000;
    text-decoration: underline;
}
a:visited{
    color: #ffffff;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}

#scores{
    color: #ffffff;
    font-size : 5vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 700px;
    width: 95.5%;
}

.score{
    color:#ffffff
}
.name{
    font-size: 2vw;
}

#scores >* {
    margin: 1vw;
}